page-so-registration {
    .button-inner{
        justify-content:flex-start;
    }

    .leftAlign{
        text-align : left;
    }    

    .confirmed {
        text-align : left;
        background-color: #33FF00;
    }

    .not-confirmed {
        text-align : left;
        background-color: #000000;
    }    
}
